.card {
    width: 100%;
    max-width: 320px;
    height: 420px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: #f3f7fe;
    border: 2px solid rgba(15, 14, 14, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow:
        0 20px 30px -15px rgba(177, 120, 13, 0.708),
        0 10px 30px -15px rgba(251, 180, 38, 0.639);
    border-color: rgb(60, 59, 58);
}

/* Imagen centrada */
.imagen-producto {
    width: 80%;
    height: 160px;
    margin: 12px auto 12px auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Contenedor de info */
.info-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    text-align: center;
}

/* Título */
.nombre-producto {
    color: #3a3a3a;
    font-size: 1.2em;
    font-weight: bold;
    margin: 6px 0;
    opacity: 0.9;
    transition: all 0.3s ease;
}

/* Descripción oculta por defecto */
.card p {
    text-align: justify;
    padding: 4px;
    display: none;
    font-size: 0.75em;
    color: #555;
}

.card:hover p {
    display: block;
}

/* Precio y botón en el mismo renglón */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 12px;
}

.precio-producto {
    font-size: 1.1em;
    font-weight: bold;
    color: #b1780d;
}

.boton-agregar {
    background-color: #b1780d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.boton-agregar:hover {
    background-color: #fbba26;
}