

/* Encabezado de la página */

.Encabezado {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #654828;
}

.Contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

/* Enlace del logo clickeable */
.logo-link {
    text-decoration: none;
}

/* Estilo del logo dentro del contenedor principal */
.logo {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Efecto hover para el logo */
.logo:hover {
    transform: scale(1.00);
}

/* imagen del logo */
.logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Estilos del enlace dentro del contenedor principal */
.Contenedor-principal .bebidas,
.Contenedor-principal .Comestibles {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: .5s ease;
}

.Contenedor-principal .bebidas:hover,
.Contenedor-principal .Comestibles:hover {
    color: #D98324;
}

.Contenedor-principal .bebidas::after,
.Contenedor-principal .Comestibles::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #D98324;
    transition: width 0.3s ease;
}

.Contenedor-principal .bebidas:hover::after,
.Contenedor-principal .Comestibles:hover::after {
    width: 100%;
}

.Contenedor-principal .bebidas.active,
.Contenedor-principal .Comestibles.active {
    color: #D98324;
    font-weight: bold;
}

.Contenedor-principal .bebidas.active::after,
.Contenedor-principal .Comestibles.active::after {
    width: 100%;
    background-color: #D98324;
}

.Contenedor-principal .bebidas.active:hover,
.Contenedor-principal .Comestibles.active:hover {
    color: #FFB366;
}

.Contenedor-secundario {
    display: flex;
    justify-content: space-between;
    justify-content: end;
}

button {
    background-color: #000000;
    color: #f7f4f4;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 125px;
    height: 50px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 350;
    margin: 10px;
}

button:hover {
    background-color: #D98324;
    box-shadow: 0 0 0 3px #f0a95d;
    color: #161313;
}
