.register-container {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para mejor contraste */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

/* Estilos para el encabezado del registro */
.Encabezado-registro {
    height: auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #654828;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Frase-encabezado {
    font-size: 20px;
    font-weight: 800;
    color: #f1f3f6;
    text-align: justify;
    gap: 40px;
}

/* Contenedor del logo */
.Contenedor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: space-between;
    margin-left: 20px;
}

/* Imagen del logo */
.Contenedor img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilos para el formulario de registro */
.Registro {
    height: 170vh;
    width: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    gap: 20px;
}

.titulo-Registro {
    font-size: 40px;
    font-weight: 900;
    color: #f1f3f6;
    text-align: center;
}

/* Grupo de campos de entrada */
.input-group,
.Contenedor-input-nombre,
.Contenedor-input-apellido {
    position: relative;
}

/* Contenedor de campos de entrada */
.Contenedor-input {
    position: relative;
}

/* Contenedor para nombre y apellido */
.Contenedor-nombre-apellido {
    display: flex;
    gap: 10px;
}

/* Estilos para los campos de entrada de texto */
.input{
    border: solid 1px #fffcfc;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1.4rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-nombre,
.input-apellido {
    border: solid 1px #fffcfc;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Contenedor-nombre-apellido label {
    font-size: 1rem;
    font-weight: 300;
    color: #e8e8e8;
}

/* Etiqueta del campo de entrada */
.user-label,
.user-label-nombre,
.user-label-apellido {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Estilos para el campo de entrada cuando está en foco o es válido */
.input:focus,
input:valid {
    outline: none;
    border: 2px solid #f1f3f6;
}

/* Estilos para la etiqueta del campo de entrada cuando el campo está en foco o es válido */
.input:focus~label,
input:valid~label,
.input-nombre:focus ~ .user-label-nombre,
.input-nombre:valid ~ .user-label-nombre,
.input-apellido:focus ~ .user-label-apellido,
.input-apellido:valid ~ .user-label-apellido {
    transform: translateY(-50%) scale(0.8);
    background-color: #2d2b2b;
    padding: 1vh;
    color: #e7e9eb;
}

/* Estilos para el botón */
button {
    background-color: #f3f1f1;
    color: #0c0c0c;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    height: 50px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}

/* Estilos para el botón al pasar el mouse */
button:hover {
    background-color: #D98324;
    box-shadow: 0 0 0 3px #f0a95d;
    color: #fff;
}

/* Estilos para el botón al hacer clic */
button:active {
    background-color: hsl(38, 98%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(220, 150, 10) 0px 0px 5px 0px;
    transform: translateY(10px);
    transition: 50ms;
}

/* Contenedor de botones */
.Contenedor-botones {
    display: flex;
    gap: 20px;
}
